---
import VideoCall from '../components/VideoCall.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Zero Call</title>
		<link rel="stylesheet" href="/src/styles/global.css" />
	</head>
	<body>
		<main>
			<VideoCall />
		</main>
	</body>
</html>
